.no-select
{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.nav, .pagination, .carousel, .panel-title a
{
cursor: pointer;
}

.footer
{
position: absolute;
bottom: 0;
width: 100%;
}

.margin-buu
{
margin-top: 10px;
margin-bottom: 10px;
}

.padding-ton-bear tab
{
padding-top: 10px;
}

.reversed
{
display: flex;
flex-direction: column-reverse;
}

.tab-content
{
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}

.nav-tabs
{
margin-bottom: 0;
}

div.left-pane
{
padding-top: 10px;
border-right: 1px solid #ddd;
min-height: 800px;
}

div.right-pane
{
padding-top: 10px;
min-height: 800px;
}

.unrow
{
margin-left: 0px;
margin-right: 0px;
}

.table-fixed
{
table-layout: fixed;
}

table.no-overflow th, table.no-overflow td
{
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;
white-space: nowrap;
}

.progressbar-no-margin, .progressbar-no-margin div
{
margin: 0px;
}

.btn-spanning
{
width:100%;
}