<!DOCTYPE html>
<html lang="en" ng-app="tueApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<title>Trickle-up Economics</title>
</head>
<body>
<div class="container margin-buu" ng-controller="GameController as game">
	<tabset justified="true">
		<tab class="padding-ton-bear" heading="Businesses">
			<ng-include src="'templates/businesstab.html'"></ng-include>
		</tab>
		<tab class="padding-ton-bear" heading="Empire">
			<ng-include src="'templates/empiretab.html'"></ng-include>
		</tab>
		<tab class="padding-ton-bear" heading="Options">
			<ng-include src="'templates/optionstab.html'"></ng-include>
		</tab>
		<tab class="padding-ton-bear" heading="Statistics">
			
		</tab>
	</tabset>
</div>
<div class="footer" ng-controller="TueAlertController as alerter">
	<div class="container">
		<div class="reversed" ng-repeat="alert in alerter.alerts | limitTo:alerter.displayedAlerts">
			<alert type="{{alert.type}}" close="alerter.closeAlert($index)">{{alert.message}}<span class="badge pull-right" ng-show="$last && alerter.surplusAlerts > 0">{{alerter.surplusAlerts}}</span></alert>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/libs/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/libs/angular.min.js"></script>
<script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="js/libs/ui-bootstrap-tpls-0.11.2.min.js"></script>
<script type="text/javascript" src="js/libs/lz-string.min.js"></script>
<script type="text/javascript" src="js/app/init.js"></script>
<script type="text/javascript" src="js/app/product.js"></script>
<script type="text/javascript" src="js/app/businessdefs.js"></script>
<script type="text/javascript" src="js/app/business.js"></script>
<script type="text/javascript" src="js/app/empire.js"></script>
<script type="text/javascript" src="js/app/comparisons.js"></script>
<script type="text/javascript" src="js/app/game.js"></script>
<script type="text/javascript" src="js/app/saver.js"></script>
<script type="text/javascript" src="js/app/upgrader.js"></script>
<script type="text/javascript" src="js/app/options.js"></script>
</body>
</html>