<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<title>Trickle-up Economics</title>
</head>
<body>
<div class="container margin-buu" ng-controller="TestController as test">
	<div>
		{{test.active[0]}} {{test.active[1]}} {{test.active[2]}} {{test.active[3]}}
	</div>
	<div>
		{{test.potential[0]}} {{test.potential[1]}} {{test.potential[2]}} {{test.potential[3]}}
	</div>
	<div>
		<tue-comparison active-subject="test.active" potential-subject="test.potential" comparison="subject[0]" transform="result"></tue-comparison>
		<tue-comparison active-subject="test.active" potential-subject="test.potential" comparison="subject[1]" transform="result"></tue-comparison>
		<tue-comparison active-subject="test.active" potential-subject="test.potential" comparison="subject[2]" transform="result"></tue-comparison>
		<tue-comparison active-subject="test.active" potential-subject="test.potential" comparison="subject[3]" transform="result"></tue-comparison>
	</div>
	<tue-action active-target="test.active" potential-target="test.potential" action="target[0] = target[0] + 1">
		<button>Click</button>
	</tue-action>
</div>
<script type="text/javascript" src="js/libs/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/libs/angular.min.js"></script>
<script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="js/libs/ui-bootstrap-tpls-0.11.2.min.js"></script>
<script type="text/javascript" src="test.js"></script>
</body>
</html>