<div class="row unrow">
	<div class="col-md-8 left-pane" ng-switch="game.activeBusiness">
		<div ng-switch-when="null">
			<h3>No Active Business</h3>
			<p>You can purchase a business using the "New Business" button on the right.</p>
		</div>
		<div ng-switch-default>
			<div class="panel panel-default">
				<div class="panel-heading">Details</div>
				<table class="table table-bordered table-responsive">
					<tr>
						<th>Name</th>
						<td>
							<span tooltip="{{game.activeBusiness.description}}">{{game.activeBusiness.name}}</span>
						</td>
					</tr>
					<tr>
						<th>Type</th>
						<td>{{game.activeBusiness.def.typeName}}</td>
					</tr>
					<tr>
						<th>Liquid Assets</th>
						<td>
							<span tooltip="The amount of money this business has available to spend.">
								<tue-comparison active-subject="game.activeBusiness" potential-subject="game.potentialBusiness" comparison="subject.cash" transform="game.format(result)"></tue-comparison>
							</span> 
							<span tooltip="The average rate net revenue per second for this business, assuming you can purchase your full contract for every product.">
								(<tue-comparison active-subject="game.activeBusiness" potential-subject="game.potentialBusiness" comparison="subject.cashRate" transform="game.format(result)"></tue-comparison> per second)
							</span>
						</td>
					</tr>
					<tr>
						<th>Customers/s</th>
						<td>
							<span tooltip="Average number of customers per second.">
								<tue-comparison active-subject="game.activeBusiness" potential-subject="game.potentialBusiness" comparison="subject.customerRate" transform="game.format(result)"></tue-comparison></span>
						</td> 
					</tr>
					<tr>
						<th>Worth</th>
						<td><tue-comparison active-subject="game.activeBusiness" potential-subject="game.potentialBusiness" comparison="subject.worth" transform="game.format(result)"></tue-comparison></td> <!-- tooltip should explain this is worth in capital -->
					</tr>
				</table>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Products</div>
				<table class="table table-bordered table-hover table-responsive no-select">
					<thead>
						<th>Name</th>
						<th>Stock</th>
						<th>
							<span tooltip="Click a button in this column to buy a given product instantly. Don't worry about going into debt; you'll always make a profit when customers buy your products.">Buy</span>
							<button class="btn btn-default btn-sm" ng-click="">&times;{{game.buyAmount}}</button>
						</th>
						<th>
							<span tooltip="Click a button in this column to get a refund for a given product. Use this only if you have a very large excess of stock.">Refund</span>
							<button class="btn btn-default btn-sm" ng-click="">&times;{{game.refundAmount}}</button>
						</th>
					</thead>
					<tbody>
						<tr ng-repeat="product in game.activeBusiness.products">
							<td>
								<span tooltip="{{product.def.description}}">{{product.def.name}}</span>
							</td>
							<td>
								<span>
									<tue-comparison active-subject="game.activeBusiness.products[$index]" potential-subject="game.potentialBusiness.products[$index]" comparison="subject.stock" transform="game.format(result)"></tue-comparison>
									(<tue-comparison active-subject="game.activeBusiness.products[$index]" potential-subject="game.potentialBusiness.products[$index]" comparison="subject.netStockRate" transform="game.format(result)"></tue-comparison>/s)</span>
							</td>
							<td>
								<tue-action active-target="game.activeBusiness.products[$index]" potential-target="game.potentialBusiness.products[$index]" action="target.purchase(game.buyAmount)">
									<button class="btn btn-default btn-spanning">Buy</button>
								</tue-action>
							</td>
							<td>
								<tue-action active-target="game.activeBusiness.products[$index]" potential-target="game.potentialBusiness.products[$index]" action="target.refund(game.refundAmount)" ng-disabled="product.stock < 1">
									<button class="btn btn-default btn-spanning">Refund</button>
								</tue-action>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Upgrades</div>
				<table class="table table-bordered table-hover table-responsive no-select">
					<tbody>
						<!-- CUSTOMER UPGRADES -->
						<tr>
							<th colspan="4" class="text-center">
								<span tooltip="">Customer Relations</span>
							</th>
						</tr>
						<tr>
							<td>
								Aspect
							</td>
							<td>
								Cost
							</td>
							<td>
								Affects
							</td>
							<td>
								Upgrade
							</td>
						</tr>
						<tr upgrade-row-comparison active-target="game.activeBusiness.upgrades.marketing" potential-target="game.potentialBusiness.upgrades.marketing" effect="Customer Rate"></tr>
						<tr upgrade-row-comparison active-target="game.activeBusiness.upgrades.advertising" potential-target="game.potentialBusiness.upgrades.advertising" effect="Sales Upgrades"></tr>
					</tbody>
				</table>
				<!-- SALES UPGRADES -->
				<ng-include src="'templates/contractupgrades.html'"></ng-include>
				<ng-include src="'templates/salesupgrades.html'"></ng-include>
			</div>
		</div>
	</div>
	<ng-include src="'templates/businesslist.html'"></ng-include>
</div>