<div class="col-md-4 right-pane">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Business List</h4>
		</div>
		<table class="table table-fixed table-bordered table-hover no-select no-overflow">
			<thead>
				<tr>
					<th class="col-md-6">Business</th><th class="col-md-6">Value</th>
				</tr>
			</thead>
			<tbody ng-switch on="game.empire.businesses.length">
				<tr ng-switch-when="0">
					<td colspan="2">No purchased businesses!</td>
				</tr>
				<tr ng-class="{ active:business === game.activeBusiness }" ng-repeat="business in game.empire.businesses" ng-click="game.activeBusiness = business" ng-switch-default>
					<td>
						{{business.name}}
					</td>
					<td>
						<progressbar class="progressbar-no-margin" min="business.def.cost" max="business.def.maxWorth" value="business.worth" ng-class="(business.worth >= business.def.maxWorth)?'success':'primary'"></progressbar>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2">
						<button class="btn btn-default center-block" ng-disabled="!game.empire.canPurchaseBusiness" ng-click="game.purchaseBusinessModal()">New Business</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>