<table class="table table-bordered table-hover table-responsive no-select">
	<thead>
		<tr>
			<th colspan="4" class="text-center">Supply Contracts</th>
		</tr>
		<tr>
			<td>Product</td>
			<td>
				<span tooltip="Each contract upgrade costs {{tue.product.contractExponent}} times as much as the previous upgrade.">Cost</span>
			</td>
			<td>
				<span tooltip="The number of units your business will attempt to purchase per second.">Purchase Rate</span>
			</td>
			<td>Upgrade</td>
		</tr>
	</thead>
	<tbody>
		<tr upgrade-row-comparison ng-repeat="product in game.activeBusiness.products" active-target="game.activeBusiness.products[$index].upgrades.contract" potential-target="game.potentialBusiness.products[$index].upgrades.contract" effect="{{game.format(product.stockRate)}}"></tr>
	</tbody>
</table>