<div class="row unrow" ng-controller="UpgradeController as upgrader">
	<div class="col-md-8 left-pane">
		<div class="panel panel-default">
			<div class="panel-heading">Details</div>
			<table class="table table-bordered table-responsive">
				<tr>
					<th>
						<span tooltip="This is the name of your empire. Wouldn't it be so cool if you could change it?">Name</span>
					</th>
					<td>
						{{game.empire.name}}
					</td>
				</tr>
				<tr>
					<th>
						<span tooltip="This is what you really dream of selling.">Portfolio</span>
					</th>
					<td>
						{{game.empire.portfolio | capitalise}}
					</td>
				</tr>
				<tr>
					<th>Capital</th>
					<td>
						<span tooltip="Use this to buy and upgrade businesses. Or don't, whatever. See if I care.">
							{{game.empire.cash}}
						</span> 
					</td>
				</tr>
			</table>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Available Upgrades For Category</div>
			<table class="table table-bordered table-hover table-responsive no-select">
				<thead>
					<tr>
						<th>
							Aspect
						</th>
						<th>
							Cost
						</th>
						<th>
							Affects
						</th>
						<th>
							Upgrade
						</th>
					</tr>
				</thead>
				<tbody ng-switch on="upgrader.upgrades.length">
					<tr ng-switch-when="0">
						<td colspan="4">This category contains no upgrades. I guess it's hard to find investors for Lemonade Stands.</td>
					</tr>
					<tr upgrade-row-std active-target="upgrade" effect="Business Limit" ng-repeat="upgrade in upgrader.upgrades" ng-switch-default></tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-4 right-pane">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Upgrade Categories</h4>
			</div>
			<table class="table table-fixed table-bordered table-hover no-select no-overflow">
				<thead>
					<tr>
						<th class="col-md-6">Category</th><th class="col-md-6">Owned</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-class="{ active:category === upgrader.activeCategory }" ng-repeat="category in upgrader.categories" ng-click="upgrader.activeCategory = category">
						<td>
							{{category}}
						</td>
						<td>
							TODO
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>