<div class="row unrow" ng-controller="OptionsController as options">
	<div class="col-md-8 left-pane">
		<div class="panel panel-default">
			<div class="panel-heading">{{options.activeCategory | capitalise}}</div>
			<div class="panel-body">
				<div ng-switch on="options.activeCategory">
					<!-- SAVING -->
					<form ng-switch-when="saving">
						<div class="form-group">
							<div class="btn-group">
								<button class="btn btn-default" ng-click="options.save()">Save</button>
								<button class="btn btn-default" ng-click="options.load()">Load</button>
								<button class="btn btn-danger" ng-click="options.deleteSave()">Wipe Save</button>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" tooltip="What action the game should take when you attempt to quit: save, alert you (so you can manually save), or nothing.">Quit Behaviour</label>
							<radio-buttons id="quitBehaviour" model="options.entries.quitBehaviour" options="{ save:'Save', alert:'Alert', none:'Nothing' }">
							</radio-buttons>
						</div>
						<div class="form-group">
							<label class="control-label">Autosave</label>
							
						</div>
					</form>
					<!-- PRESTIGE -->
					<div ng-switch-when="prestige">
						Sorry, there isn't going to be a prestige system for a long, long time.
					</div>
					<div ng-switch-default>
						There must have been some kind of error; this category of options has not been implemented.
					</div>
				</div>
				<!--<form>
					<div ng-repeat="entry in options.activeCategory.entries" ng-switch on="entry.type">
						<div class="input-group" ng-switch-default ng-switch on="entry.type">
							<span class="input-group-addon" tooltip="{{entry.description}}">{{entry.name}}</span>
							<input type="number" ng-model="entry.value" ng-change="options.update(entry)" ng-switch-when="integer" />
						</div>
						<div class="form-group" ng-switch-when="toggle">
							<button class="btn btn-default" tooltip="{{entry.description}}" ng-model="entry.value" ng-change="options.update(entry)" btn-checkbox>
								{{entry.name}} 
							</button>
						</div>
						<div class="form-group" ng-switch-when="radio">
							<label class="control-label" tooltip="{{entry.description}}">{{entry.name}}</label>
							<div class="btn-group">
								<label class="btn btn-default" ng-model="entry.value" ng-change="options.update(entry)" btn-radio="option.value" ng-repeat="option in entry.options">{{option.name}}</label>
							</div>
						</div>
						<div class="form-group" ng-switch-when="button">
							<button class="btn btn-default" tooltip="{{entry.description}}" ng-click="entry.call()">{{entry.name}}</button>
						</div>
					</div>
				</form>-->
			</div>
		</div>
	</div>
	<div class="col-md-4 right-pane">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Option Categories</h4>
			</div>
			<table class="table table-fixed table-bordered table-hover no-select no-overflow">
				<thead>
					<tr>
						<th class="col-md-12">Category</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-class="{ active:category === options.activeCategory }" ng-repeat="category in options.categories" ng-click="options.activeCategory = category">
						<td>
							{{category.name}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>