<div class="modal-header">
	<h3 class="modal-title">Purchase a New Business</h3>
</div>
<div class="modal-body">
	<strong>Investment Capital:</strong> {{game.format(game.empire.cash)}}
	<table class="table table-bordered table-hover no-select">
		<thead>
			<tr>
				<th>Name</th>
				<th>Cost</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="businessDef in bpurchaser.businessDefs" ng-class="game.empire.cash < businessDef.cost?'warning':'success'" ng-disabled="game.empire.cash < businessDef.cost" ng-click="bpurchaser.select(businessDef)">
				<td>
					<span>{{businessDef.typeName}}</span>
					<!--<button class="btn btn-default" ng-disabled="game.capital < businessDef.cost" ng-click="bpurchaser.selected = businessDef">{{businessDef.typeName}}</button>-->
				</td>
				<td>
					{{game.format(businessDef.cost)}} capital
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-switch on="bpurchaser.selected">
		<h4>
		Selected:
		</h4>
		<p ng-switch-when="null">No business selected.</p>
		<dl class="dl-horizontal" ng-switch-default>
			<dt>Name</dt>
			<dd><input type="text" size="60" ng-model="bpurchaser.selectedName" /></dd>
			<dt>Type</dt>
			<dd>{{bpurchaser.selected.typeName}}</dd>
			<dt>Description</dt>
			<dd>{{game.describe(bpurchaser.selected.description)}}</dd>
			<dt>Cost</dt>
			<dd>{{game.format(bpurchaser.selected.cost)}} capital</dd>
		</dl>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-disabled="bpurchaser.selected === null || game.empire.cash < bpurchaser.selected.cost" ng-click="bpurchaser.accept()">Accept</button>
	<button class="btn btn-warning" ng-click="bpurchaser.cancel()">Cancel</button>
</div>