<table class="table table-bordered table-hover table-responsive no-select">
	<thead>
		<tr>
			<th colspan="4" class="text-center">Sales Strategies</th>
		</tr>
		<tr>
			<td>Product</td>
			<td>
				<span tooltip="Each sales upgrade costs {{tue.product.salesCostExponent}} times as much as the previous upgrade.">Cost</span>
			</td>
			<td>
				<span tooltip="The number of units customers will attempt to purchase in total every second.">Sale Rate</span>
			</td>
			<td>Upgrade</td>
		</tr>
	</thead>
	<tbody>
		<tr upgrade-row-comparison ng-repeat="product in game.activeBusiness.products" active-target="game.activeBusiness.products[$index].upgrades.sales" potential-target="game.potentialBusiness.products[$index].upgrades.sales" effect="{{game.format(product.totalSellRate)}}"></tr>
	</tbody>
</table>